@model IEnumerable<PBL3_HotelManagementSystem.Models.HoaDon>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDHDChiTiet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayTaoHD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongDonGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhachHang.HoTen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDHDChiTiet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayTaoHD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongDonGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhachHang.HoTen)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDHD }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDHD }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDHD })
        </td>
    </tr>
}

</table>
