@model PBL3_HotelManagementSystem.Models.DatDichVu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DatDichVu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgaySuDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySuDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DichVu.TenDV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DichVu.TenDV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.HoTen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDDatDV }) |
    @Html.ActionLink("Back to List", "Index")
</p>
