@model IEnumerable<PBL3_HotelManagementSystem.Models.HoaDonChiTiet>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayDat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayTra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatDichVuChiTiet.IDDatDV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoaDon.IDKH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayTra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatDichVuChiTiet.IDDatDV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoaDon.IDKH)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDHDChiTiet }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDHDChiTiet }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDHDChiTiet })
        </td>
    </tr>
}

</table>
